GLOBAL_ENV=dev
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CLIENT_ID=power-trading-platform
KAFKA_TOPIC_PREFIX=power_trading
KAFKA_ENABLED=true
KAFKA_CONSUMER_GROUP_PREFIX=power_trading
KAFKA_AUTO_OFFSET_RESET=earliest

DATA_BOOT_HOST=0.0.0.0
DATA_BOOT_PORT=8001

FORECAST_BOOT_HOST=0.0.0.0
FORECAST_BOOT_PORT=8002
TIMER_INTERVAL_SECONDS=10

EXECUTION_BOOT_HOST=0.0.0.0
EXECUTION_BOOT_PORT=8003